a:link {
  color: white;
}

a:visited {
  color: red;
}

a.menu:link {
  color: red;
}

a.menu:visited {
  color: white;
}

h1.title{
  color:white;
  text-align:center; 
  font-family: monospace; 
  font-size: 60px; 
  text-shadow: horizontal-shadow vertical-shadow blur color;
}

h3{
  color:white;
  text-align:center; 
  font-family: monospace; 
  font-size: 35px;
}

h3.showcase{
  color:white;
  text-align:center; 
  font-family: monospace; 
  font-size: 50px;
}

h2.sctitle{
  color:white;
  text-align:center; 
  font-family: monospace; 
  font-size: 45px;
}

h4, li {
  color:white;
  text-align:center; 
  font-family: monospace; 
  font-size: 20px;
  list-style-type: none;
}

li {
  padding-right: 30px;
}

.rightalign {
  color:white;
  text-align:right;
  padding-right: 20px;
  font-family: monospace; 
  font-size: 20px;
}

h4.backbtn {
  color:white;
  text-align:left; 
  font-family: monospace; 
  font-size: 20px;
}

.screenshot {
  width: 683px;
  height: 384px;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

video {
  align-items: center;
  width: 50%;
  height: 300px;
  /* object-fit: cover; */
  z-index: -100;
}

.warn {
  color:red;
}

span.nope {
  color:red;
}

a {
  color:red;
  font-family:"Courier New", Courier, monospace !important;
  text-align:center;
  vertical-align:top;
}

.blink {
  -webkit-animation: 1s linear infinite condemned_blink_effect; /* for Safari 4.0 - 8.0 */
  animation: 1s linear infinite condemned_blink_effect;
}

header {
  text-align: center;
  color:white;
}

.backbtn {
  text-align: left;
}


/* for Safari 4.0 - 8.0 */
@-webkit-keyframes condemned_blink_effect {
0% {
  visibility: hidden;
}
50% {
  visibility: hidden;
}
100% {
  visibility: visible;
}
}


@keyframes condemned_blink_effect {
0% {
visibility: hidden;
}
50% {
visibility: hidden;
}
100% {
visibility: visible;
}
}

.rainbow_text_animated {
  background: linear-gradient(to right, #ff0000, #ff8c00 , #fffb00, #00ff11, #0084ff, #a200ff, #ff00ea);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 3s ease-in-out infinite;
  background-size: 400% 100%;
}

@keyframes rainbow_animation {
  0%,100% {
      background-position: 0 0;
  }

  50% {
      background-position: 100% 0;
  }
}

.center {
  display: block;
  margin: 0 auto;
  width: 30%;
}